<div class="modal-carregando modal fade" id="modalCarregando" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-carregando__conteudo">
            <div class="modal-header modal-carregando__cabecalho">
                <h4 class="modal-carregando__titulo modal-title text-center" id="modalTitulo">@Html.Raw("Carregando...")</h4>
            </div>
            <div class="modal-footer modal-carregando__rodape">
                <div class="row">
                    <div class="col-md-2 col-xs-6 modal-carregando__container-botao">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>